{% extends 'base.html' %}
{% load static %}

 {% block content %}
<style>
  img{
    width: 100px;
    border-radius: 60px;
    
  
  }
 
</style>

 <footer class="page-footer" style="background-color:#dec0c0;">
    <div class="container">
      <div class="row mt-4">
                <div class=" mt-4">
                          <center><h3>About Us</h3> <br>
                          <p> Our mission at <b>BRAINTECH</b> is to empower students and teachers to achieve learning outcomes while saving teachers time and energy and valuing their efforts given throughout a semester. Our goal is to provide an end-to-end exam papers and solution that utilises CUIB technology, content, lectures  in a simple to use and digitally rich resource which is proven to support and enhance students’ learning and preparation for exams. We are committed to creating high quality resources that cater for all different department on campus. We are also committed to excellent practices. This involves us staying on top of all major developments in education and learning, and using these to develop and improve our resources..</p>
                
                </div>
               <div class=" mt-4">
                          <h3>Contact Us</h3>
                          <ul>
                            <li>loicdiffo17@gmail.com</li>
                            <li>miclanjunior@gmail.com</li>
                            <li>+237 697127381</li>
                            <li>+237 676772832</li>
                          </ul>
                </div></center>
      </div>
      <div class="imgcontainer">
        
   </div>
      <div class="footer-copyright text-center py-3">
          <p>&copy 2022 Copyright: Braintechgroup.com</p>
          <img src="{% static 'images/logo.png' %}" alt="Avatar" class="avatar">
      </div>
   
    </div>
  </footer>




 {% endblock %}